Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16

Fix some gRPC configurations
  source/agent/index.js
  source/management_api/management_api.toml
  source/management_api/requestHandler.js
  source/management_api/rpc/rpc.js
  source/portal/index.js
  source/portal/rpcRequest.js
Owners: @starwarfan

Enable GRPC option for sip agent
  source/agent/conference/conference.js
  source/agent/conference/roomController.js
  source/agent/conference/rpcRequest.js
  source/agent/sip/agent.toml
  source/agent/sip/dist.json
  source/agent/sip/grpcAdapter.js
  source/agent/sip/index.js
  source/agent/video/vmixer.js
  source/agent/video/vtranscoder.js
  source/management_api/rpc/rpc.js
  source/portal/rpcRequest.js
  source/protos/conference_agent.proto
  source/protos/protoConfig.json
  source/protos/sip_agent.proto
  source/protos/sip_portal.proto
  source/sip_portal/dist.json
  source/sip_portal/package.json
  source/sip_portal/sipErizoHelper.js
  source/sip_portal/sip_portal.js
  source/sip_portal/sip_portal.toml
Owners: @starwarfan, @qwu16, @daijh

Add SSL setting for gRPC
  source/common/grpcTools.js
Owners: @starwarfan

Add validate RPC for webtransport token
  source/agent/conference/conference.js
  source/agent/quic/index.js
  source/portal/index.js
  source/portal/rpcRequest.js
  source/protos/conference_agent.proto
Owners: @starwarfan, @qwu16, @jianjunz

Fix clean room issue
  source/agent/conference/rtcController.js
  source/management_api/rpc/rpc.js
Owners: @starwarfan, @qwu16

Add gRPC timeout checks and clean up for conference
  source/agent/conference/conference.js
  source/common/grpcTools.js
Owners: @starwarfan, @qwu16

Fix set layout and pause stream issue
  source/agent/audio/grpcAdapter.js
  source/protos/audio_agent.proto
  source/protos/video_agent.proto
Owners: @daijh, @starwarfan

Remove listeners for gRPC call ending
  source/agent/analytics/grpcAdapter.js
  source/agent/audio/grpcAdapter.js
  source/agent/conference/rpcRequest.js
  source/agent/quic/grpcAdapter.js
  source/agent/sip/grpcAdapter.js
  source/agent/streaming/grpcAdapter.js
  source/agent/video/grpcAdapter.js
  source/agent/webrtc/grpcAdapter.js
Owners: @qwu16, @daijh, @starwarfan, @jianjunz

Add SIP gRPC interface for conference
  source/agent/conference/conference.js
  source/management_api/rpc/rpc.js
  source/protos/conference_agent.proto
Owners: @starwarfan, @qwu16

Fix setLayout and recording REST API
  source/agent/streaming/grpcAdapter.js
  source/protos/conference_agent.proto
  source/protos/format.proto
  source/protos/video_agent.proto
Owners: @daijh, @starwarfan

Add deadline for gRPC request
  source/agent/conference/rpcRequest.js
  source/common/clusterWorker.js
  source/management_api/rpc/rpc.js
  source/portal/rpcRequest.js
Owners: @starwarfan, @qwu16

Update memory limit for CI test
  test/server.jenkinsfile
Owners: @starwarfan

Fix recording a/v only issue
  source/management_api/rpc/rpc.js
Owners: @starwarfan

Adjust timeout for portal gRPC
  source/portal/rpcRequest.js
Owners: @starwarfan

Clean debug log configurations
  source/agent/conference/log4js_configuration.json
  source/agent/quic/log4js_configuration.json
Owners: @starwarfan, @qwu16, @jianjunz

Fix dropping participant
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/portal/index.js
  source/portal/rpcRequest.js
  source/protos/conference_agent.proto
Owners: @starwarfan, @qwu16

Update resource in jenkins file
  test/server.jenkinsfile
Owners: @starwarfan

Fix mute/unmute operations
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/webrtc/grpcAdapter.js
  source/portal/rpcRequest.js
  source/protos/webrtc_agent.proto
Owners: @starwarfan, @qwu16

Add dependency for quic agent
  source/agent/conference/conference.js
  source/agent/conference/log4js_configuration.json
  source/agent/conference/rpcRequest.js
  source/agent/quic/e2e-test/config/management_api.toml
  source/agent/quic/e2e-test/config/quic_agent.toml
  source/agent/quic/grpcAdapter.js
  source/agent/quic/index.js
  source/agent/quic/log4js_configuration.json
  source/agent/quic/package.json
  source/portal/rpcRequest.js
  source/protos/conference_agent.proto
  source/protos/protoConfig.json
Owners: @starwarfan, @qwu16, @jianjunz

Fix some conference APIs
  source/agent/conference/conference.js
  source/management_api/rpc/rpc.js
  source/protos/conference_agent.proto
Owners: @starwarfan, @qwu16

Update configuration for webtransport test
  source/agent/quic/e2e-test/config/management_api.toml
  source/agent/quic/e2e-test/config/portal.toml
  source/agent/quic/e2e-test/config/quic_agent.toml
Owners: @jianjunz

Adjust resouce setting for check-in tests
  test/server.jenkinsfile
  test/ubuntuserver.jenkinsfile
Owners: @starwarfan

Add environemnt variable for GRPC proxy option
  source/common/grpcTools.js
Owners: @starwarfan

Disable gRPC by default
  source/agent/analytics/agent.toml
  source/agent/audio/agent.toml
  source/agent/conference/agent.toml
  source/agent/quic/agent.toml
  source/agent/quic/e2e-test/config/management_api.toml
  source/agent/quic/e2e-test/config/portal.toml
  source/agent/quic/e2e-test/config/quic_agent.toml
  source/agent/recording/agent.toml
  source/agent/sip/agent.toml
  source/agent/streaming/agent.toml
  source/agent/video/agent.toml
  source/agent/webrtc/agent.toml
  source/cluster_manager/cluster_manager.toml
  source/management_api/management_api.toml
  source/portal/portal.toml
  source/sip_portal/sip_portal.toml
Owners: @qwu16, @daijh, @starwarfan, @jianjunz

Add document for enable gRPC
  doc/servermd/EnableGRPC.md
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

Update settings for gRPC
  scripts/release/initauth.js
  source/common/cipher.js
  source/common/grpcTools.js
Owners: @starwarfan, @qwu16

Refine document
  doc/servermd/EnableGRPC.md
  source/agent/conference/conference.js
Owners: @starwarfan, @qwu16

fix compile error for msdk build
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Remove unused code and fix klockwork issue
  source/agent/addons/quicCascading/QuicTransportServer.cc
  source/agent/addons/quicCascading/QuicTransportSession.cc
  source/agent/addons/quicCascading/QuicTransportSession.h
  source/agent/addons/quicCascading/QuicTransportStream.h
  source/agent/analytics/videoGstPipeline/VideoGstAnalyzer.cc
  source/agent/media_bridge/quicTransportServer.js
  source/event_bridge/eventCascading.js.bkm
  source/event_bridge/quicTransportServer.js
Owners: @starwarfan, @qwu16

Run WebTransport E2E test with Python 3.10
  .github/workflows/webtransport.yaml
Owners: @starwarfan

Run WebTransport E2E test with Python 3.10 (#1278)
  .github/workflows/webtransport.yaml
Owners: @starwarfan

Allow customized module in start script
  scripts/release/daemon-mcu.sh
Owners: @starwarfan, @qwu16

Add management API for general stream service
  source/data_access/model/tokenModel.js
  source/management_api/api.js
  source/management_api/resource/v1.1/index.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/management_api/resource/v1.1/subscriptionsResource.js
  source/management_api/resource/v1/tokensResource.js
Owners: @starwarfan

Add stream service for general stream control
  source/stream_service/dist.json
  source/stream_service/log4js_configuration.json
  source/stream_service/package.json
  source/stream_service/rtcController.js
  source/stream_service/service.proto
  source/stream_service/service.toml
  source/stream_service/session.js
  source/stream_service/streamService.js
  source/stream_service/streamingController.js
  source/stream_service/test/streamServiceTest.js
Owners: @starwarfan

Add portal configuration and interface for customized controller
  source/portal/client.js
  source/portal/index.js
  source/portal/portal.js
  source/portal/portal.toml
  source/portal/rpcRequest.js
  source/portal/socketIOServer.js
Owners: @starwarfan

Add document and sample for adding an agent
  doc/design/adding-an-agent.md
  source/agent/sample/callSample.js
  source/agent/sample/dist.json
  source/agent/sample/package.json
  source/agent/sample/sample.js
Owners: @starwarfan

Add customized controller based on stream service
  source/agent/customized/conference2.js
  source/agent/customized/dist.json
  source/agent/customized/package.json
  source/agent/defaultConfigLoader.js
  source/agent/index.js
  source/agent/networkHelper.js
  source/agent/workingNode.js
Owners: @starwarfan

Fix format and add missing files
  source/agent/agent.toml
  source/common/rpcStarter.js
  source/stream_service/streamService.js
Owners: @starwarfan

Add audio/video/analytics control for stream service
  source/agent/analytics/index.js
  source/agent/audio/index.js
  source/agent/video/vmixer.js
  source/agent/video/vtranscoder.js
  source/management_api/management_api.toml
  source/management_api/resource/v1.1/index.js
  source/management_api/resource/v1.1/processorsResource.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/stream_service/analyticsController.js
  source/stream_service/audioController.js
  source/stream_service/dist.json
  source/stream_service/format.proto
  source/stream_service/service.proto
  source/stream_service/session.js
  source/stream_service/streamService.js
  source/stream_service/streamingController.js
  source/stream_service/videoController.js
Owners: @qwu16, @daijh, @starwarfan

Update interface for customized agent
  source/agent/customized/conference2.js
  source/agent/customized/package.json
Owners: @starwarfan
