Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

add electTimeout in config which default is 1000ms this will elect leader in 0-3s
  source/cluster_manager/cluster_manager.toml
Owners: @starwarfan, @qwu16

change verifyLeader timeout from 1s to 100ms
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

The issue that the verifyLeader method blocks the follower's onTopicMessage method, causing the leader election process to consume 3 seconds
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

Add debug logs, optimize the readability of the code, remove the verifyLeader method, and allow candidates and followers to uniformly configure the election duration through the electTimeout setting.
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

add totalNode desc ad change param name error
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
Owners: @starwarfan, @qwu16

update installSnapshot use promise and remove useless code
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

add lock msg for installSnapshot
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

leader ignore self appendEntry message and adjust the leader to become the leader first before executing asRpcServer, while optimizing the code structure of the code leader to improve readability
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

1、add removeRpcServer for amqpClient for leader change to follower 2、remove clusterManager delay statistics every where and add delay statistics auto in Mutex class
  source/cluster_manager/clusterManager.js
  source/common/amqpClient.js
Owners: @starwarfan, @qwu16

change chiness to english and add to code to ignore old term heartbeat for leader
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

change needHandler to needHandle and fix term compare error
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

remove voteSelf replace by receive self requestVote then vote
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

add observerTimes for HeartbeatObserver first run let the electTime max
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix elect leader slow when send heartbeat to late or unsubscribe and subscribe used time gt electTime
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

format code and add minHeartTicket by electTimeout
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix topic subscribe repeate and unsubscribe no complete
  source/common/amqpClient.js
Owners: @starwarfan

Add raft support in cluster manager (#1380)
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/common/amqpClient.js
Owners: @starwarfan, @qwu16

add support recreate queue and reconnect to rabbitmq
  source/common/amqpClient.js
Owners: @starwarfan

remove debug code
  source/common/amqpClient.js
Owners: @starwarfan

set monitor exchange not to auto delete because when all the agent lost exhchange auto delete will cause channel closed when invote channel.publish
  source/common/amqpClient.js
Owners: @starwarfan

add weightRobin strategy algorithm is refer to nginx
  source/cluster_manager/strategy.js
Owners: @starwarfan, @qwu16

add weightRobin strategy algorithm is refer to nginx
  source/cluster_manager/strategy.js
Owners: @starwarfan, @qwu16

change comment
  source/cluster_manager/strategy.js
Owners: @starwarfan, @qwu16

Add weightRobin for strategy.js (#1382)
  source/cluster_manager/strategy.js
Owners: @starwarfan, @qwu16

change MsgSenderReceiver get defalut queue name hard code
  source/common/amqpClient.js
Owners: @starwarfan

add leaderlease limit electTimeout、heartbeat、leaderLeaseTimeout min value change variable name commitId to commitIndex fix preLogTerm use state.preLogTerm is to strict
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

Update dependencies.
  source/agent/addons/quic/test/package-lock.json
  source/agent/quic/package-lock.json
Owners: @jianjunz

Update dependencies. (#1389)
  source/agent/addons/quic/test/package-lock.json
  source/agent/quic/package-lock.json
Owners: @jianjunz

Remove workflow for WebTransport.
  .github/workflows/webtransport.yaml
Owners: @starwarfan

Remove workflow for WebTransport. (#1390)
  .github/workflows/webtransport.yaml
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16
