Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16

Add configuration to enable/disable cascading feature and set cascading logs to debug
  doc/design/quic-cascading.md
  source/agent/conference/agent.toml
  source/agent/conference/conference.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/management_api/api.js
  source/management_api/management_api.toml
Owners: @starwarfan, @qwu16

Add configuration to enable/disable cascading feature and set cascading logs to debug (#1311)
  doc/design/quic-cascading.md
  source/agent/conference/agent.toml
  source/agent/conference/conference.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/management_api/api.js
  source/management_api/management_api.toml
Owners: @starwarfan, @qwu16

Fix stream engine scheduler
  source/stream_service/scheduler.js
Owners: @starwarfan

Fix publication/subscription updates
  source/agent/customized/conferenceLite.js
  source/stream_service/controllers/rtcController.js
  source/stream_service/controllers/typeController.js
  source/stream_service/streamService.js
Owners: @starwarfan

Add recording in stream engine
  source/stream_service/controllers.json
Owners: @starwarfan

Add participants in stream API doc
  doc/servermd/StreamAPI.md
Owners: @starwarfan

Refine doc
  doc/servermd/StreamAPI.md
Owners: @starwarfan

Update portal configuration
  source/portal/portal.toml
Owners: @starwarfan

Fix stream API issues (#1313)
  doc/servermd/StreamAPI.md
  source/agent/analytics/index.js
  source/agent/conference/rpcRequest.js
  source/agent/customized/conferenceLite.js
  source/agent/sip/index.js
  source/agent/sip/log4cxx.properties
  source/management_api/resource/v1.1/index.js
  source/management_api/resource/v1.1/participantsResource.js
  source/management_api/resource/v1.1/processorsResource.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/management_api/resource/v1.1/subscriptionsResource.js
  source/portal/portal.toml
  source/sip_portal/sipErizoHelper.js
  source/stream_service/controllers.json
  source/stream_service/controllers/analyticsController.js
  source/stream_service/controllers/audioController.js
  source/stream_service/controllers/rtcController.js
  source/stream_service/controllers/typeController.js
  source/stream_service/controllers/videoController.js
  source/stream_service/dist.json
  source/stream_service/scheduler.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan, @qwu16

Update LICENSE
  LICENSE
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

Update README.md
  README.md
Owners: @starwarfan

Run npm audio fix for source/agent/addons/quic/test.
  source/agent/addons/quic/test/package-lock.json
Owners: @jianjunz

Run npm audio fix for source/agent/addons/quic/test. (#1319)
  source/agent/addons/quic/test/package-lock.json
Owners: @jianjunz

Update openssl to version 3.0.8 and fix depot tool version for webrtc
  scripts/installCommonDeps.sh
  scripts/installWebrtc.sh
  scripts/pack.js
Owners: @starwarfan, @qwu16

Update openssl to version 3.0 and fix depot tool version for webrtc
  scripts/installCommonDeps.sh
  scripts/installWebrtc.sh
  scripts/pack.js
Owners: @starwarfan, @qwu16

Update openssl to version 3.0.8 and fix depot tool version for webrtc (#1327)
  scripts/installCommonDeps.sh
  scripts/installWebrtc.sh
  scripts/pack.js
Owners: @starwarfan, @qwu16

Update openssl to version 3.0 and fix depot tool version for webrtc (#1328)
  scripts/installCommonDeps.sh
  scripts/installWebrtc.sh
  scripts/pack.js
Owners: @starwarfan, @qwu16

Update dependencies.
  source/agent/quic/package-lock.json
  source/agent/quic/package.json
Owners: @jianjunz

Update dependencies. (#1332)
  source/agent/quic/package-lock.json
  source/agent/quic/package.json
Owners: @jianjunz

Update module version
  source/stream_service/package.json
Owners: @starwarfan

Update dependency to newer version (#1333)
  source/stream_service/package.json
Owners: @starwarfan

deep clone data before notify to clients
  source/portal/socketIOServer.js
Owners: @starwarfan

Deep clone data before notify to clients (#1335)
  source/portal/socketIOServer.js
Owners: @starwarfan

fix owt-run image
  docker/Dockerfile
Owners: @qwu16

fix owt-run image (#1339)
  docker/Dockerfile
Owners: @qwu16

1. add raft to select leader
  source/agent/nodeManager.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/cluster_manager/scheduler.js
  source/common/amqpClient.js
  source/common/clusterWorker.js
Owners: @starwarfan, @qwu16

require util in file
  source/agent/nodeManager.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

remove unused code
  source/common/amqpClient.js
Owners: @starwarfan

fix rpcServer was remove before unsubscribe
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix double subscribe bug
  source/common/amqpClient.js
Owners: @starwarfan

fix when restart leader can't select a new leader
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix respone vote used the last data in state
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix vote for self use error attribute
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

add preLogIndex and preLogTerm for sync runtime data
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

set prevLogIndex and prevLogTerm after data published
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

use role as a global var
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix follower get runtimeData twice
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix unable to complete quit signaling to clusterManager when the agent exits
  source/agent/index.js
  source/common/clusterWorker.js
Owners: @starwarfan
