Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16

checkmarx cpp High fix
  source/agent/addons/avstreamLib/AVStreamOutWrap.cc
  source/agent/sip/sipIn/sip_gateway/sipua/src/sipua.c
  source/agent/webrtc/rtcConn/conn_handler/WoogeenHandler.cpp
  source/core/owt_base/AudioFramePacketizer.cpp
  source/core/owt_base/VideoFramePacketizer.cpp
  source/core/rtc_adapter/VideoReceiveAdapter.cc
Owners: @starwarfan, @taste1981

Disable transport-cc extension for audio
  source/agent/webrtc/sdpInfo.js
Owners: @starwarfan

Add SRTP profiles for negotiation
  scripts/patches/licode/0023-Update-SRTP-profiles-for-SRTP-channel.patch
Owners: @starwarfan, @qwu16

realloc() maybe cause memory leaks
  source/core/owt_base/LiveStreamIn.cpp
  source/core/owt_base/MsdkFrameDecoder.cpp
  source/core/owt_base/MsdkFrameEncoder.cpp
Owners: @starwarfan, @taste1981

Fix realloc() may cause memory leaks (#1263)
  source/core/owt_base/LiveStreamIn.cpp
  source/core/owt_base/MsdkFrameDecoder.cpp
  source/core/owt_base/MsdkFrameEncoder.cpp
Owners: @starwarfan, @taste1981

Update dependabot.yml
  .github/dependabot.yml
Owners: @starwarfan

Update string functions (#1259)
  source/agent/addons/avstreamLib/AVStreamOutWrap.cc
  source/agent/sip/sipIn/sip_gateway/sipua/src/sipua.c
  source/agent/webrtc/rtcConn/conn_handler/WoogeenHandler.cpp
  source/core/owt_base/AudioFramePacketizer.cpp
  source/core/owt_base/VideoFramePacketizer.cpp
  source/core/rtc_adapter/VideoReceiveAdapter.cc
Owners: @starwarfan, @taste1981

Disable transport-cc extension for audio
  source/agent/webrtc/sdpInfo.js
Owners: @starwarfan

Disable transport-cc for audio
  source/agent/webrtc/sdp.js
  source/agent/webrtc/wrtcConnection.js
Owners: @starwarfan

Bump mongoose to 6.7
  source/agent/conference/package.json
  source/data_access/index.js
  source/management_api/package.json
  source/portal/package.json
  source/sip_portal/package.json
  test/restTestCasesKarma/scripts/authorization/init/package.json
Owners: @starwarfan, @qwu16

Disable transport-cc extension for audio (#1262)
  source/agent/webrtc/sdpInfo.js
Owners: @starwarfan

Fix WebTransport test caused by npm
  scripts/release/init-webtransport.sh
Owners: @starwarfan, @qwu16

Disable transport-cc extension for audio (#1268)
  source/agent/webrtc/sdpInfo.js
Owners: @starwarfan

Disable transport-cc for audio (#1267)
  source/agent/webrtc/sdp.js
  source/agent/webrtc/wrtcConnection.js
Owners: @starwarfan

Bump mongoose to 6.7 (#1266)
  source/agent/conference/package.json
  source/data_access/index.js
  source/management_api/package.json
  source/portal/package.json
  source/sip_portal/package.json
  test/restTestCasesKarma/scripts/authorization/init/package.json
Owners: @starwarfan, @qwu16

Add SRTP profiles for negotiation (#1261)
  scripts/patches/licode/0023-Update-SRTP-profiles-for-SRTP-channel.patch
Owners: @starwarfan, @qwu16

Update npm dependencies for quic agent
  source/agent/quic/package-lock.json
Owners: @jianjunz

Update npm dependencies for quic agent (#1271)
  source/agent/quic/package-lock.json
Owners: @jianjunz

Update settings for gRPC
  scripts/release/initauth.js
  source/common/cipher.js
  source/common/grpcTools.js
Owners: @starwarfan, @qwu16

Add document for enable gRPC
  doc/servermd/EnableGRPC.md
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

OWT-MCU-Portal upgrade socket.io from 3.1.2 to 4.5.0 OWT-MCU-Manage-Console upgrade express from 4.16.4 to 4.17.3
  source/management_console/package.json
  source/portal/package.json
Owners: @starwarfan

Portal upgrade socket.io from 3.1.2 to 4.5.0 (#1273)
  source/management_console/package.json
  source/portal/package.json
Owners: @starwarfan

Fix remove participant bug and media bridge crash when getting room destroy message
  source/agent/addons/quicCascading/QuicTransportClient.cc
  source/agent/addons/quicCascading/QuicTransportServer.cc
  source/agent/addons/quicCascading/QuicTransportSession.cc
  source/agent/addons/quicCascading/QuicTransportStream.cc
  source/agent/conference/conference.js
  source/agent/media_bridge/index.js
  source/event-bridge/eventCascading.js
  source/event-bridge/index.js
Owners: @starwarfan, @qwu16

Update Document and settings for gRPC option (#1272)
  doc/servermd/EnableGRPC.md
  scripts/release/initauth.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/common/cipher.js
  source/common/grpcTools.js
Owners: @starwarfan, @qwu16

Align folder name rule
  source/agent/media_bridge/package.json
  source/agent/media_bridge/readme.md
  source/event-bridge/readme.md
  source/event_bridge/.clang-format
  source/event_bridge/agent.toml
  source/event_bridge/configLoader.js
  source/event_bridge/dist.json
  source/event_bridge/eventCascading.js
  source/event_bridge/eventCascading.js.bkm
  source/event_bridge/index.js
  source/event_bridge/log4cxx.properties
  source/event_bridge/log4js_configuration.json
  source/event_bridge/package.json
  source/event_bridge/quicTransportServer.js
  source/event_bridge/rpcRequest.js
Owners: @starwarfan

Add cloud url check in cluster manager
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

Address comments
  source/agent/addons/videoSwitch/addon.cc
  source/agent/conference/conference.js
  source/agent/webrtc/rtcFrame/VideoFrameConstructorWrapper.cc
  source/agent/webrtc/wrtcConnection.js
  source/core/rtc_adapter/RtcAdapter.h
  source/core/rtc_adapter/VideoReceiveAdapter.cc
  source/data_access/model/roomModel.js
Owners: @starwarfan, @qwu16, @taste1981

Adjust send bandwidth allocation
  source/core/rtc_adapter/AdapterInternalDefinitions.h
  source/core/rtc_adapter/RtcAdapter.cc
  source/core/rtc_adapter/VideoSendAdapter.cc
  source/core/rtc_adapter/VideoSendAdapter.h
Owners: @starwarfan, @taste1981

Enable GRPC option for webrtc agent
  source/agent/conference/conference.js
  source/agent/conference/dist.json
  source/agent/conference/package.json
  source/agent/conference/roomController.js
  source/agent/conference/rpcRequest.js
  source/agent/nodeManager.js
  source/agent/webrtc/agent.toml
  source/agent/webrtc/dist.json
  source/agent/webrtc/grpcAdapter.js
  source/agent/webrtc/index.js
  source/agent/webrtc/package.json
  source/agent/workingNode.js
  source/common/grpcTools.js
  source/protos/access_agent.proto
  source/protos/format.proto
  source/protos/internal.proto
  source/protos/protoConfig.json
  source/protos/webrtc_agent.proto
Owners: @starwarfan, @qwu16

Enable GRPC option for audio agent
  source/agent/audio/agent.toml
  source/agent/audio/dist.json
  source/agent/audio/grpcAdapter.js
  source/agent/audio/index.js
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/package.json
  source/protos/access_agent.proto
  source/protos/audio_agent.proto
  source/protos/format.proto
  source/protos/internal.proto
  source/protos/process_agent.proto
  source/protos/protoConfig.json
Owners: @daijh, @starwarfan, @qwu16

Enable GRPC option for streaming/recording agent
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/recording/agent.toml
  source/agent/recording/dist.json
  source/agent/recording/index.js
  source/agent/streaming/agent.toml
  source/agent/streaming/dist.json
  source/agent/streaming/grpcAdapter.js
  source/agent/streaming/index.js
  source/protos/protoConfig.json
  source/protos/streaming_agent.proto
Owners: @starwarfan, @qwu16, @daijh

Update RPC interface for internal connection
  source/agent/audio/grpcAdapter.js
  source/agent/conference/rpcRequest.js
  source/agent/streaming/grpcAdapter.js
  source/agent/video/grpcAdapter.js
  source/agent/webrtc/grpcAdapter.js
  source/protos/access_agent.proto
  source/protos/audio_agent.proto
  source/protos/streaming_agent.proto
  source/protos/video_agent.proto
  source/protos/webrtc_agent.proto
Owners: @daijh, @starwarfan, @qwu16

Enable GRPC option for video agent
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/video/agent.toml
  source/agent/video/dist.json
  source/agent/video/grpcAdapter.js
  source/agent/video/index.js
  source/agent/video/vmixer.js
  source/agent/video/vtranscoder.js
  source/protos/audio_agent.proto
  source/protos/protoConfig.json
  source/protos/video_agent.proto
Owners: @starwarfan, @qwu16, @daijh

Enable GRPC option for analytics/quic agent
  source/agent/analytics/agent.toml
  source/agent/analytics/dist.json
  source/agent/analytics/grpcAdapter.js
  source/agent/analytics/index.js
  source/agent/analytics/package.json
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/quic/agent.toml
  source/agent/quic/dist.json
  source/agent/quic/grpcAdapter.js
  source/agent/quic/index.js
  source/protos/analytics_agent.proto
  source/protos/format.proto
  source/protos/protoConfig.json
  source/protos/quic_agent.proto
Owners: @qwu16, @starwarfan, @jianjunz

Enable GRPC option for node manager
  source/agent/conference/rpcRequest.js
  source/agent/index.js
  source/agent/workingNode.js
  source/cluster_manager/clusterManager.js
  source/common/clusterWorker.js
  source/protos/node_manager.proto
  source/protos/protoConfig.json
Owners: @starwarfan, @qwu16

Fix gRPC notifications for agent
  source/agent/analytics/grpcAdapter.js
  source/agent/audio/grpcAdapter.js
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/quic/grpcAdapter.js
  source/agent/streaming/grpcAdapter.js
  source/agent/video/grpcAdapter.js
  source/agent/video/vmixer.js
  source/agent/webrtc/grpcAdapter.js
  source/agent/webrtc/index.js
  source/agent/workingNode.js
  source/common/grpcTools.js
  source/protos/access_agent.proto
  source/protos/audio_agent.proto
  source/protos/video_agent.proto
  source/protos/webrtc_agent.proto
Owners: @qwu16, @daijh, @starwarfan, @jianjunz

Enable GRPC option for cluster manager
  source/agent/conference/roomController.js
  source/agent/index.js
  source/agent/nodeManager.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/dist.json
  source/cluster_manager/index.js
  source/cluster_manager/matcher.js
  source/cluster_manager/package.json
  source/cluster_manager/scheduler.js
  source/common/amqpClient.js
  source/common/clusterWorker.js
  source/common/grpcTools.js
  source/protos/cluster_manager.proto
Owners: @starwarfan, @qwu16

Enable GRPC option for conference agent
  source/agent/conference/agent.toml
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/workingNode.js
  source/protos/conference_agent.proto
  source/protos/format.proto
  source/protos/protoConfig.json
  source/protos/video_agent.proto
Owners: @starwarfan, @qwu16

Enable GRPC option for portal
  source/portal/dist.json
  source/portal/index.js
  source/portal/package.json
  source/portal/portal.toml
  source/portal/rpcRequest.js
Owners: @starwarfan

Enable GRPC option for management api
  source/management_api/dist.json
  source/management_api/package.json
  source/management_api/requestHandler.js
  source/management_api/resource/v1/tokensResource.js
  source/management_api/rpc/rpc.js
Owners: @starwarfan
