Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16

fix getScheduled return the loss agent
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

upgrade runAsLeader change role use then same function
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix workQuit core
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix timeout no define
  source/common/amqpClient.js
Owners: @starwarfan

fix quit twice
  source/common/clusterWorker.js
Owners: @starwarfan

fix workQuit core
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

fix worker.state==2 and worker.load>maxLoad no invoke reportState
  source/cluster_manager/clusterManager.js
  source/cluster_manager/scheduler.js
Owners: @starwarfan, @qwu16

add voteGranted in select leader just for description of the corresponding algorithm process
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

remove chinese command and remove unused code
  source/common/amqpClient.js
Owners: @starwarfan

fix missing dollar symbol in startowt.sh
  docker/startowt.sh
Owners: @qwu16

fix missing dollar symbol in startowt.sh (#1344)
  docker/startowt.sh
Owners: @qwu16

Add more descriptions to explain code details
  source/cluster_manager/clusterManager.js
  source/common/amqpClient.js
  source/common/clusterWorker.js
Owners: @starwarfan, @qwu16

fix wrong truncation of DB_URL
  source/management_api/init.sh
Owners: @starwarfan

Update dependencies.
  source/agent/addons/quic/test/package-lock.json
Owners: @jianjunz

Update dependencies. (#1347)
  source/agent/addons/quic/test/package-lock.json
Owners: @jianjunz

Fix wrong truncation of DB_URL (#1345)
  source/management_api/init.sh
Owners: @starwarfan

fix missing or wrong cluster host
  source/agent/index.js
  source/event_bridge/index.js
  source/management_api/requestHandler.js
  source/portal/index.js
Owners: @starwarfan

ignore .vscode dir
  .gitignore
Owners: @starwarfan

fix 404 zlib library not found error by Bumping it to version 1.3
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Fix invalid zlib version (#1354)
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Add quic-lib, webrtc-XX and binding.gyp to ignore list
  .gitignore
Owners: @starwarfan

prevent bash early exit -e for node-gyp check as installer exits if package is not installed
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Check for required version of node-gyp as npm list -g might already have it as dependency without being in the path
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

remove errorness .gitignore
  .gitignore
Owners: @starwarfan

Initialize config.cascading in cluster_manager
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

Initialize config.cascading in cluster_manager (#1359)
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16

Upgrade openssl to 3.2.0
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Upgrade openssl to 3.2.0 (#1361)
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Upgrade openssl to 3.2.0
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Fix script installCommonDeps.sh (#1355)
  .gitignore
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

Upgrade openssl to 3.2.0 (#1362)
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

add support select leader by raft and add new config totalNode to desc how man cluster will be run
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
  source/common/amqpClient.js
Owners: @starwarfan, @qwu16

add support select leader by raft and add new config totalNode to desc how man cluster will be run
  source/cluster_manager/cluster_manager.toml
Owners: @starwarfan, @qwu16

add unserver func for class ClusterManager
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/index.pb
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

add desc for totalNode in cluster_mananger.toml
  source/cluster_manager/cluster_manager.toml
Owners: @starwarfan, @qwu16

Delete .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/issuestore/index.pb
Owners: @starwarfan

Delete .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
Owners: @starwarfan

Delete .idea/.gitignore
  .idea/.gitignore
Owners: @starwarfan

Delete .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/Project_Default.xml
Owners: @starwarfan

add electTimeout in config which default is 1000ms this will elect leader in 0-3s
  source/cluster_manager/clusterManager.js
  source/cluster_manager/cluster_manager.toml
  source/cluster_manager/index.js
Owners: @starwarfan, @qwu16
