Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

Upgrade package.json version to 5.1.0
  source/agent/analytics/package.json
  source/agent/conference/package.json
  source/agent/customized/package.json
  source/agent/media_bridge/package.json
  source/agent/package.json
  source/agent/quic/package.json
  source/agent/sample/package.json
  source/agent/webrtc/package.json
  source/cluster_manager/package.json
  source/event_bridge/package.json
  source/management_api/package.json
  source/management_console/package.json
  source/portal/package.json
  source/sip_portal/package.json
  source/stream_service/package.json
Owners: @qwu16, @starwarfan, @jianjunz

Use malloc instead of realloc
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Change assignment
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Update release scripts version to 5.1.0
  scripts/release/package.mcu.json
Owners: @starwarfan, @qwu16

Revert "Change assignment"
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Revert "Use malloc instead of realloc"
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Exit when realloc fails
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Fix video packetizer close issue
  source/core/owt_base/VideoFramePacketizer.cpp
Owners: @starwarfan, @taste1981

Fix video packetizer close issue (#1300)
  source/core/owt_base/VideoFramePacketizer.cpp
Owners: @starwarfan, @taste1981

Pass the test
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Adjust data assignment in frame decoder (#1298)
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Upgrade package.json version to 5.1.0 (#1299)
  scripts/release/package.mcu.json
  source/agent/analytics/package.json
  source/agent/conference/package.json
  source/agent/customized/package.json
  source/agent/media_bridge/package.json
  source/agent/package.json
  source/agent/quic/package.json
  source/agent/sample/package.json
  source/agent/webrtc/package.json
  source/cluster_manager/package.json
  source/event_bridge/package.json
  source/management_api/package.json
  source/management_console/package.json
  source/portal/package.json
  source/sip_portal/package.json
  source/stream_service/package.json
Owners: @starwarfan, @qwu16, @jianjunz

Add experimental targets in packing script
  scripts/pack.js
Owners: @starwarfan, @qwu16

Av1x changed to AV1 and chrome100+ subscription AV1 failed due to payload… (#1227)
  source/agent/conference/conference.js
  source/agent/video/videoCapability.js
  source/agent/webrtc/mediaConfig.js
  source/core/owt_base/MediaFramePipeline.h
  source/management_console/public/js/App.js
Owners: @starwarfan, @qwu16, @daijh, @taste1981

Add document for stream API
  doc/servermd/StreamAPI.md
Owners: @starwarfan

Add experimental targets in packing script (#1301)
  scripts/pack.js
Owners: @starwarfan, @qwu16

Update document config version
  doc/doxygen_cfrc.conf
  doc/doxygen_cp.conf
  doc/doxygen_rest.conf
Owners: @starwarfan

Change link format
  doc/servermd/StreamAPI.md
Owners: @starwarfan

Refine doc
  doc/servermd/StreamAPI.md
Owners: @starwarfan

Fix remove stream event incorrectly sent for cascading stream
  source/agent/conference/conference.js
Owners: @starwarfan, @qwu16

Fix remove stream event incorrectly sent for cascading stream (#1304)
  source/agent/conference/conference.js
Owners: @starwarfan, @qwu16

Update document config version (#1303)
  doc/doxygen_cfrc.conf
  doc/doxygen_cp.conf
  doc/doxygen_rest.conf
Owners: @starwarfan

Fix room not destroyed issue when no actual stream and participant in the room in cascading scenario
  source/agent/conference/conference.js
Owners: @starwarfan, @qwu16

Fix repeating startCascading failed issue
  source/event_bridge/eventCascading.js
Owners: @starwarfan

Fix cascading stream lost issue when rejoining room
  source/agent/conference/accessController.js
Owners: @starwarfan, @qwu16

Refine js file format
  source/event_bridge/eventCascading.js
Owners: @starwarfan

Fix room not destroyed issue when no actual stream and participant in… (#1305)
  source/agent/conference/accessController.js
  source/agent/conference/conference.js
  source/event_bridge/eventCascading.js
Owners: @starwarfan, @qwu16

Fix cadcading doc format error
  doc/design/quic-cascading.md
Owners: @starwarfan

Fix cascading doc format issue
  doc/design/quic-cascading.md
Owners: @starwarfan

Add examples in document
  doc/servermd/StreamAPI.md
  test/genAuth.js
Owners: @starwarfan

fix: add missing parameter
  source/agent/index.js
Owners: @starwarfan

fix: add missing parameter (#1308)
  source/agent/index.js
Owners: @starwarfan

Fix format issues in stream API
  source/agent/analytics/index.js
  source/management_api/resource/v1.1/index.js
  source/management_api/resource/v1.1/participantsResource.js
  source/management_api/resource/v1.1/processorsResource.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/management_api/resource/v1.1/subscriptionsResource.js
  source/portal/portal.toml
  source/stream_service/controllers/analyticsController.js
  source/stream_service/controllers/audioController.js
  source/stream_service/controllers/videoController.js
  source/stream_service/scheduler.js
  source/stream_service/streamService.js
Owners: @qwu16, @starwarfan

Fix issue 1283
  source/agent/conference/conference.js
Owners: @starwarfan, @qwu16

Update quic testing configuration
  source/agent/quic/e2e-test/config/management_api.toml
Owners: @jianjunz

Add default value for configuration
  source/management_api/api.js
Owners: @starwarfan

Fix issue 1283 (#1309)
  source/agent/conference/conference.js
  source/agent/quic/e2e-test/config/management_api.toml
  source/management_api/api.js
Owners: @starwarfan, @qwu16, @jianjunz

Fix SIP agent issues
  source/agent/conference/rpcRequest.js
  source/agent/sip/index.js
  source/agent/sip/log4cxx.properties
  source/sip_portal/sipErizoHelper.js
Owners: @starwarfan, @qwu16

Add document for stream API (#1302)
  doc/servermd/StreamAPI.md
  test/genAuth.js
Owners: @starwarfan

Fix video optional resolutions
  source/stream_service/dist.json
  source/stream_service/stateTypes.js
Owners: @starwarfan

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16
