Repository open-webrtc-toolkit/owt-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @starwarfan, @qwu16, @jianjunz, @daijh, @taste1981

Refine control logic and interface for stream service
  source/agent/customized/dist.json
  source/agent/customized/package.json
  source/management_api/resource/v1.1/processorsResource.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/management_api/resource/v1.1/subscriptionsResource.js
  source/portal/client.js
  source/portal/portal.js
  source/portal/portal.toml
  source/portal/rpcRequest.js
  source/stream_service/dist.json
  source/stream_service/domainHandler.js
  source/stream_service/log4js_configuration.json
  source/stream_service/package.json
  source/stream_service/rtcController.js
  source/stream_service/service.toml
  source/stream_service/session.js
  source/stream_service/streamService.js
Owners: @starwarfan

Refine webrtc controller for stream service
  source/stream_service/controllers/rtcController.js
  source/stream_service/controllers/typeController.js
  source/stream_service/dist.json
  source/stream_service/domainHandler.js
  source/stream_service/package.json
  source/stream_service/streamService.js
Owners: @starwarfan

Add data stores for stream states
  source/stream_service/controllers/typeController.js
  source/stream_service/dist.json
  source/stream_service/domainHandler.js
  source/stream_service/package.json
  source/stream_service/stateStores.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan

Refine controllers for stream service
  source/stream_service/controllers.json
  source/stream_service/controllers/analyticsController.js
  source/stream_service/controllers/audioController.js
  source/stream_service/controllers/quicController.js
  source/stream_service/controllers/rtcController.js
  source/stream_service/controllers/streamingController.js
  source/stream_service/controllers/typeController.js
  source/stream_service/controllers/videoController.js
  source/stream_service/controllers/virtualController.js
  source/stream_service/dist.json
  source/stream_service/domainHandler.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan

Enable mix and transcoding for sample conference
  source/agent/customized/conference2.js
  source/agent/customized/conferenceLite.js
  source/agent/customized/dist.json
  source/agent/customized/log4js_configuration.json
  source/agent/customized/mycontroller.js
  source/agent/customized/package.json
  source/management_api/api.js
  source/management_api/management_api.toml
  source/management_api/resource/v1.1/index.js
  source/management_api/resource/v1.1/processorsResource.js
  source/management_api/resource/v1.1/publicationsResource.js
  source/management_api/resource/v1.1/subscriptionsResource.js
  source/portal/client.js
  source/stream_service/controllers/audioController.js
  source/stream_service/controllers/rtcController.js
  source/stream_service/controllers/videoController.js
  source/stream_service/dist.json
  source/stream_service/domainHandler.js
  source/stream_service/session.js
  source/stream_service/streamService.js
Owners: @starwarfan

Add scheduler for stream service
  source/agent/customized/mycontroller.js
  source/portal/portal.js
  source/portal/rpcRequest.js
  source/stream_service/dist.json
  source/stream_service/scheduler.js
  source/stream_service/service.toml
  source/stream_service/stateStores.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan

openssl version update from 1.1.1m to 1.1.1q
  scripts/installCommonDeps.sh
Owners: @starwarfan, @qwu16

"notifyAsyncEvent" Change the incoming parameter type
  source/agent/analytics/videoGstPipeline/VideoGstAnalyzer.cc
Owners: @qwu16

Resolve issues after rebase
  source/portal/rpcRequest.js
  source/stream_service/dist.json
  source/stream_service/package.json
  source/stream_service/rpcRequest.js
  source/stream_service/streamService.js
Owners: @starwarfan

Update key settings and scripts
  scripts/release/initauth.js
  source/common/cipher.js
  source/management_api/api.js
  source/management_api/auth/serverAuthenticator.js
  source/management_api/initdb.js
  source/management_api/resource/servicesResource.js
Owners: @starwarfan, @qwu16

Handle error when missing file
  source/management_api/api.js
Owners: @starwarfan

Update default portal configuration
  source/portal/portal.toml
Owners: @starwarfan

Update key settings and scripts (#1282)
  scripts/release/initauth.js
  source/common/cipher.js
  source/management_api/api.js
  source/management_api/auth/serverAuthenticator.js
  source/management_api/initdb.js
  source/management_api/resource/servicesResource.js
Owners: @starwarfan, @qwu16

Fix code issues
  source/agent/sip/sipIn/sip_gateway/sipua/modules/zrtp/zrtp.c
  source/management_console/index.js
Owners: @starwarfan

Add server pfx certificate and quic client token validation
  source/agent/addons/quicCascading/QuicTransportServer.cc
  source/agent/addons/quicCascading/QuicTransportServer.h
  source/agent/analytics/videoGstPipeline/VideoGstAnalyzer.cc
  source/agent/conference/conference.js
  source/agent/conference/rpcRequest.js
  source/agent/media_bridge/index.js
  source/agent/media_bridge/rpcRequest.js
  source/cluster_manager/clusterManager.js
  source/cluster_manager/index.js
  source/event_bridge/eventCascading.js
  source/event_bridge/index.js
  source/event_bridge/rpcRequest.js
  source/management_api/restReqValidator.js
Owners: @starwarfan, @qwu16

Update dependencies for sample
  source/agent/customized/package.json
  source/agent/sample/package.json
Owners: @starwarfan

Update dependencies for sample (#1288)
  source/agent/customized/package.json
  source/agent/sample/package.json
Owners: @starwarfan

Add cascading control module and enable https
  scripts/pack.js
  source/agent/conference/conference.js
  source/cascading_control/cloud_service.js
  source/cascading_control/dist.json
  source/cascading_control/package-lock.json
  source/cascading_control/package.json
  source/cascading_control/restClient.js
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

Fix review comments
  source/cascading_control/cloud_service.js
  source/cascading_control/restClient.js
  source/cascading_sample/cloud_service.js
  source/cascading_sample/dist.json
  source/cascading_sample/package-lock.json
  source/cascading_sample/package.json
  source/cascading_sample/restClient.js
  source/cluster_manager/clusterManager.js
Owners: @starwarfan, @qwu16

Change send bitrate allocation
  source/agent/webrtc/index.js
  source/core/rtc_adapter/RtcAdapter.cc
  source/core/rtc_adapter/VideoSendAdapter.cc
  source/core/rtc_adapter/VideoSendAdapter.h
Owners: @starwarfan, @taste1981

Fix arguments length check for addons
  source/agent/webrtc/rtcFrame/VideoFrameConstructorWrapper.cc
  source/agent/webrtc/rtcFrame/VideoFramePacketizerWrapper.cc
Owners: @starwarfan

Add QUIC getListeningPort API and doc
  doc/design/pics/cascading/comparison.png
  doc/design/pics/cascading/eventbridgeflow.png
  doc/design/pics/cascading/eventbridgequic.png
  doc/design/pics/cascading/mediabridgeflow.png
  doc/design/pics/cascading/mediabridgequic.png
  doc/design/pics/cascading/multicontrol.png
  doc/design/pics/cascading/oneclustermultiregions.png
  doc/design/pics/cascading/overrall.png
  doc/design/pics/cascading/triggerflow.png
  doc/design/quic-cascading.md
  source/agent/addons/quicCascading/QuicTransportServer.cc
  source/agent/addons/quicCascading/QuicTransportServer.h
  source/agent/media_bridge/agent.toml
  source/agent/media_bridge/index.js
  source/cascading_sample/cloud_service.js
  source/event_bridge/agent.toml
  source/event_bridge/eventCascading.js
  source/event_bridge/index.js
  source/management_api/requestHandler.js
Owners: @starwarfan

Fix snyk scan issue
  source/cascading_sample/package.json
Owners: @starwarfan

Update body-parser to a newer version
  source/cascading_sample/cloud_service.js
  source/cascading_sample/package.json
Owners: @starwarfan

Remove package-lock.json
  source/cascading_sample/package-lock.json
Owners: @starwarfan

Fix package json version
  source/cascading_sample/package.json
Owners: @starwarfan

Fix node modules version
  source/cascading_sample/package.json
Owners: @starwarfan

Fix packing for agent sample
  scripts/pack.js
  source/agent/sample/dist.json
  source/agent/sample/package.json
Owners: @starwarfan, @qwu16

Upgrade body-parser version to 1.20
  source/cascading_sample/cloud_service.js
  source/cascading_sample/package-lock.json
  source/cascading_sample/package.json
Owners: @starwarfan

Fix packing for agent sample (#1292)
  scripts/pack.js
  source/agent/sample/dist.json
  source/agent/sample/package.json
Owners: @starwarfan, @qwu16

Add build target video switch
  scripts/build.json
  source/agent/webrtc/index.js
Owners: @starwarfan, @qwu16

Update cascading doc format
  doc/design/quic-cascading.md
Owners: @starwarfan

Implement bandwidth estimation based SVC subscription (#1090)
  scripts/build.json
  source/agent/addons/videoSwitch/VideoSwitchWrapper.cc
  source/agent/addons/videoSwitch/VideoSwitchWrapper.h
  source/agent/addons/videoSwitch/addon.cc
  source/agent/addons/videoSwitch/binding.gyp
  source/agent/conference/conference.js
  source/agent/conference/roomController.js
  source/agent/conference/rpcRequest.js
  source/agent/conference/rtcController.js
  source/agent/conference/subscription.js
  source/agent/internalConnectionRouter.js
  source/agent/webrtc/dist.json
  source/agent/webrtc/index.js
  source/agent/webrtc/log4cxx.properties
  source/agent/webrtc/rtcFrame/VideoFrameConstructorWrapper.cc
  source/agent/webrtc/rtcFrame/VideoFrameConstructorWrapper.h
  source/agent/webrtc/rtcFrame/VideoFramePacketizerWrapper.cc
  source/agent/webrtc/sdpInfo.js
  source/agent/webrtc/wrtcConnection.js
  source/core/owt_base/VideoFrameConstructor.cpp
  source/core/owt_base/VideoFrameConstructor.h
  source/core/owt_base/VideoFramePacketizer.cpp
  source/core/owt_base/VideoFramePacketizer.h
  source/core/owt_base/selector/VideoQualitySwitch.cpp
  source/core/owt_base/selector/VideoQualitySwitch.h
  source/core/rtc_adapter/AdapterInternalDefinitions.h
  source/core/rtc_adapter/RtcAdapter.cc
  source/core/rtc_adapter/RtcAdapter.h
  source/core/rtc_adapter/VideoReceiveAdapter.cc
  source/core/rtc_adapter/VideoReceiveAdapter.h
  source/core/rtc_adapter/VideoSendAdapter.cc
  source/core/rtc_adapter/VideoSendAdapter.h
  source/core/rtc_adapter/thread/StaticTaskQueueFactory.cc
  source/data_access/model/roomModel.js
Owners: @starwarfan, @qwu16, @taste1981

Make code more clear in frame decoder
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Make code more clear in frame decoder (#1295)
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Update variable names
  source/management_console/index.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan

Update variable names (#1296)
  source/management_console/index.js
  source/stream_service/stateTypes.js
  source/stream_service/streamService.js
Owners: @starwarfan

Update variable assign
  source/cascading_sample/cloud_service.js
Owners: @starwarfan

Adjust data assignment in frame decoder
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

Simplify code
  source/core/owt_base/MsdkFrameDecoder.cpp
Owners: @starwarfan, @taste1981

.github/CODEOWNERS:

# See https://help.github.com/articles/about-code-owners/ for CODEOWNERS syntax.

* @starwarfan
scripts/ @starwarfan @qwu16
docker/ @qwu16
source/agent/addons @starwarfan
source/agent/addons/quic @jianjunz
source/agent/analytics @qwu16
source/agent/audio @daijh @starwarfan
source/agent/conference @starwarfan @qwu16
source/agent/plugins @qwu16
source/agent/quic @jianjunz
source/agent/recording @daijh
source/agent/sip @starwarfan
source/agent/streaming @daijh
source/agent/video @daijh
source/agent/webrtc @starwarfan
source/cluster_manager @starwarfan @qwu16
source/common @starwarfan
source/core @starwarfan @taste1981
source/data_access @starwarfan
source/management_api @starwarfan
source/management_console @starwarfan
source/portal @starwarfan
source/test @starwarfan @qwu16
